*{
    padding: 0;
    margin:0;

}
input{
    display: none;
}
.container{
    width:100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 33px 0; 

}
h1::before{
    content: ' ';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: orange;
    bottom: -10px;
    transform: translateX(42%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 50px;
    }
    50%{
        width: 120px;
    }
    100%{
        width: 50px;
    }
}
.top-content{
    background-color: aliceblue;
    width: 86%;
    margin: 0 auto 20px auto ;
    height: 41px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
}
h3 {
    height: 16%;
    background-color: blue;
    line-height: 4px;
    padding: 20px 50px;
    color:white;
}
label{
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    margin: 0 50px;
    line-height: 46px;
    cursor: pointer;
    transition: .5s;
}
label:hover{
    color:blue
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 28px;
    cursor: pointer;
}
.pic img{
    height: 100%;
    width: 100%;
    border-radius: 20px; ;

}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check2:checked ~ .container .photo-gallery .family{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check2:checked ~ .container .photo-gallery .child,
#check2:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}
check3:checked ~ .container .photo-gallery .child{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check3:checked ~ .container .photo-gallery .family,
#check3:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}
check4:checked ~ .container .photo-gallery .place{
    transform: scale(1);
    opacity: 1;
    position: relative;

}
#check4:checked ~ .container .photo-gallery .child,
#check4:checked ~ .container .photo-gallery .family{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}
.copy{
    position: absolute;
    font-size: 25px;
    color:red;
    transform: translateX(100%);
    text-align: center;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 300px;
    }
    50%{
        width: 120px;
    }
    100%{
        width: 100px;
    }
}